<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atakmap.android.plugintemplate.plugin"
    tools:ignore="GoogleAppIndexingWarning">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="com.atakmap.android.plugintemplate.araaftorPlugin.MediatorApplication"
        android:allowBackup="false"
        android:description="@string/app_desc"
        android:extractNativeLibs="true"
        android:icon="@drawable/ikonka"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="plugin-api"
            android:value="${atakApiVersion}" />
        <meta-data
            android:name="app_desc"
            android:value="@string/app_desc" />
       <!-- allow for plugin discovery -->
       <activity android:name="com.atakmap.app.component"
           tools:ignore="MissingClass">
           <intent-filter android:label="@string/app_name">
              <action android:name="com.atakmap.app.component" />
           </intent-filter>
       </activity>

        <activity
            android:name="com.atakmap.android.plugintemplate.araaftorPlugin.activities.AraaftorActivity"
            android:exported="true"
            android:label="ARAAFTOR"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
